{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>DineDesk</title>
    <link rel="icon" type="image/png" href="images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'restaraunt/css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'restaraunt/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'restaraunt/css/responsive.css' %}">
{% block title %}{{ section.title }}{% endblock %}
</head>
<body>
 <nav class="navbar navbar-expand-lg main_menu">
        <div class="container">
            <a class="navbar-brand" href="{%url 'index'%}">
                <img src="{% static 'restaraunt/img/DineDesk (4).png' %}"alt="DineDesk" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars menu_icon_bar"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == '/' or request.path == '/booking/'%} active{%endif%}" aria-current="page" href="{%url 'index'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == '/menu'%} active{%endif%}" href="{%url 'menu'%}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == '/contactus'%} active{%endif%}" href="{%url 'contactus'%}">Contact</a>
                    </li>
                    {% comment %} {%if request.user.is_superuser%}
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == '/tables'%} active{%endif%}" href="{%url 'table_list'%}">Tables</a>
                    </li>
                    {%endif%} {% endcomment %}
                </ul>
                <ul class="menu_icon d-flex flex-wrap sm_p_0">
                    <li class="menu_icon d-flex flex-wrap">
                        {%if user.is_authenticated%}
                            
                            {{request.user}}<a href="{%url 'logout' %}" name="Login"><i class="fas fa-user"></i></a>
                        {% else %}
                        <a href="{%url 'index' %}" name="Login"><i class="fas fa-user"></i></a>
                        
                        {%endif%}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% block content %} 
{% endblock %}
 <footer style="background: url(images/footer_bg.jpg);">
        <div class="footer_overlay pt_100 xs_pt_70 pb_100 xs_pb_20">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-12 col-md-6 ">
                        <div class="tf__footer_content">
                            <a class="footer_logo" href="index.html">
                                <img src="{% static 'restaraunt/img/DineDesk (4).png' %}" alt="DineDesk" class="img-fluid w-100">
                            </a>
                            <span>Discover the essence of India's flavors at our authentic Indian restaurant. Experience culinary excellence, 
                                aromatic spices, and unforgettable dishes. Join us for a remarkable dining adventure.</span>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <div class="tf__footer_content">
                            <h3>contact us</h3>
                            <p class="info" style="padding-left: 10px;"> +44 (0) 20 9994 7740</p>
                            <p class="info" style="padding-left: 10px;"> dinedesk@gmail.com</p>
                            <p class="info" style="padding-left: 10px;"> Blackwell Street,Dry Creek,Alaska</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--font-awesome js-->
    <script src="https://kit.fontawesome.com/62613b1ed3.js" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
    
    </body>
    
    
    </html>