{% extends 'base.html' %}
{% load static %}

{% block content %}
    {%include './components/banner.html'%}
<div class="mt_50 mb_50 pt_20 pb_20 mx-auto " style="border:5px solid lightgrey;width:max-content; border-radius: 16px">
{% if error %}
<div class="alert alert-warning  w-50 mx-auto">
    {{errors}}
</div>
    {% endif %}
<form method="post" action="{% url 'booking_create' %}" class="w-50 mx-auto">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Confirm" class="mt_30 common_btn">
</form>
</div>
{% endblock %}
