{% extends 'base.html' %}
{%load static%}

{% block content %}
    
    
    <section class="tf__banner_slider " style="background: url( {% static 'restaraunt/img/counter_bg.jpg' %});">
       
        <div class="tf__breadcrumb_overlay">
            <div class="container">
                <div class="tf__breadcrumb_text">
                    <h1>Contact Us</h1>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="tf__contact mt_100 xs_mt_70 mb_100 xs_mb_70">
        <div class="container">
            <div class="tf__contact_form_area">
                <div class="row justify-content-center">
                    <div class=" wow fadeInUp" data-wow-duration="1s">
                        <div class="row tf__contact_info_area">
                            <div class="col-lg-4 tf__contact_info">
                                <h3>call</h3>
                                <p>+1347-430-9510</p>
                                <p>+9658745554002</p>
                            </div>
                            <div class="col-lg-4 tf__contact_info">
                                <h3>mail</h3>
                                <p>websolutionus1@gmail.com</p>
                                <p>example@gmail.com</p>
                            </div>
                            <div class="col-lg-4  tf__contact_info  ">
                                <h3>location</h3>
                                <p>7232 Broadway Suite 308, Jackson Heights, 11372, NY, United States</p>
                            </div>
                        </div>
                    </div>


            </div>
            
        </div>
        </div></section>
{% endblock content %}


</html>