{% extends 'base.html' %}
{%load static%}
{% block content %}
    
{%include './components/banner.html'%}


    {%if not user.is_authenticated%}
    <section id="Login" class="tf__signin pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container">
            {%if errors %}
            <div class="alert alert-warning" role="alert">
            {{errors}}
        </div>
            {%endif%}
            <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s">
                <div class="col-xl-5 col-sm-10 col-md-8 col-lg-6">
                    <div class="tf__login_area flex-column h-100 d-flex align-items-center justify-content-center">
                        <h2>Log-in</h2>
                        
{% include './components/loginForm.html' %}

                    </div>
                </div>
                <br>
                <div class="col-xl-5 col-sm-10 col-md-8 col-lg-6 padtop">
                    <div class="tf__login_area ">
                        <h2>Sign-up</h2>

{% include './components/signupForm.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endif%}

{%if request.user.is_authenticated and not request.user.is_superuser%}
{%include 'restaraunt/booking_create.html'%}

{%endif%}

{%endblock%}
